// Here you can add other styles
.loading-overlay {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center;
}

$colors: (
    primary: var(--cui-primary),
    secondary: var(--cui-secondary),
    success: var(--cui-success),
    info: var(--cui-info),
    warning: var(--cui-warning),
    danger: var(--cui-danger),
    light: var(--cui-light),
    dark: var(--cui-dark)
);

@each $colorname, $color in $colors {
    div.card.detailed-#{$colorname} {
        box-shadow: 0 0.125rem 0.25rem $color
    }
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

label.required::before {
    content: '*';
    margin-right: 4px;
    color: red;
}